* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
 
}

h1 {
  font-size: large;
  padding-left: 20px;
}

header {
  background-color: rgb(235, 161, 235);
  height: 50px;
  width: 500px;
  margin: auto;
  padding: 10px 0;
  text-align: center;
  border-radius: 10px;
}

.main {
  border: 3px solid black;
  border-radius: 10px;
  margin: 20px auto;
  width: 80%;
 
}

.colours, fonts {
  display: inline-block;

  width: 250px;
  text-align: center;
  padding-top: 60px;
  padding-bottom: 60px;
  line-height: 2;
  margin: 10px 10px;
} 

.normal {
  font-weight: 400;
}

.italic {
  font-weight: 400;
  font-style: italic;
}

.bold {
  font-weight: bold;
}

.Heading1 {
  font-family: Roboto;
  font-size: 30px;
  font-weight: bold;
}

.Heading2 {
  font-family: Roboto;
  font-size: 20px;
  font-weight: normal;
}

.Heading3 {
  font-family: Roboto;
  font-size: 12px;
  font-weight: normal;
}

#Gustavo {
  background-color: rgb(70, 167, 208);
  color: white;
}

#Maestro {
  background-color: rgb(230, 174, 106);
  color: white;
}

#Pusheen {
  background-color: rgb(170, 171, 171);
  color: white;
}

#AppleGreen {
  background-color: rgb(93, 232, 95);
  color: white;
}

#roboto p {
  font-family: Roboto;
}

#mono p {
  font-family: monospace;
}

#pro p {
  font-family: 'Source Sans Pro', sans-serif;
}

