* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    font-size: large;
    padding-left: 20px;
}

header {
    background-color: rgb(210, 208, 208);
    height: 50px;
    padding: 10px 0;
}

.main {
  border: 3px solid black;
  border-radius: 10px;
}

.colours {
    display: inline-block;
    height: 200px;
    width: 250px;
    text-align: center;
    padding-top: 60px;
    line-height: 2;
    margin: 10px 10px;
}

#Gustavo {
    background-color: rgb(70, 167, 208);
    color: white;
}